<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
        <link rel="stylesheet" href="/css/expanse.css">
    </head>
    <body>
        <div class="report-prem-btn">
            <button id="closesidebar">☰</button>
            <div id ='premium' class="sidebardiv">
                <button id="rzrbtn" class="sidebarbtn">Buy Premium</button>
            </div>
            <div id ='leaderboarddiv' class="sidebardiv">
                <button id="leaderboardbtn" class="sidebarbtn">Leaderboard</button>
            </div>
            <div id ='report' class="sidebardiv">
                <button id="reportbtn" class="sidebarbtn">Donwload Report</button>
            </div>
            <div id ='logout'>
                <button id="logoutbtn">Logout</button>
            </div>
        </div>
        <nav id="navbar"><button id="opensidebar" type="button">☰</button><div id="username"></div></nav>
        
        <form onsubmit="handleAddExpanse(event)">

            <label for="category">Choose Category: </label>
            <select id="category" name="category" class="entries" required>
                <option value="">-----</option>
                <option value="vehicle">Vehicle</option>
                <option value="rent">Rent</option>
                <option value="food">Food</option>
                <option value="fuel">Fuel</option>
                <option value="emi">EMI</option>
            </select>
            <label for="amount">Enter Amount</label>
            <input id="amount" name="amount" type="number" class="entries" required/>
            <label for="description">Description</label>
            <input id="description" name="description" type="text" class="entries" required/>
            
            <button id="btn" type="submit">Add</button>
            <div id="perpagediv"><label for="perpage">Items per Page: </label>
                <select onchange="changeItems()" id="perpage" class="item-per-page entries" name="perpage">
                    <option value="2">2</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </div>

            
        </form>
        
        
        <div id="expanse-table">
            
            <table id="expanse-records">
                <tr class="recordsHeading">
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Description</th>
                </tr>                
            </table>
            
            <div id="page-btn">
                <button id="firstpage" class="jumppage">0</button>
                <button id="previous" class="navmove">&lt;</button>
                <div id="nav-btns"></div>
                <button id="next" class="navmove">&gt;</button>
                <button id="lastpage" class="jumppage">0</button>
            </div>

        </div>
            

        <div id="leaderboard"></div>
        
    </body>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
    <script src="/scripting/expanse.js"> </script>

</html>