<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set password</title>
    <link rel="stylesheet" href="/css/forgotpassword.css">
</head> 
<body>
    <div class="forgot-form">
    <form id="forgot-password" onsubmit="updatepassword(event)">
        <h1> Set new Password</h1>
        <div  class="forgotfield1">
            
            <input id="forgotpassword" type="password" name="forgotpassword" placeholder="Enter your password here" />
        </div>
        <div class="forgotfield1">
            
            <input id="confirmpassword" type="password" name="confirmpassword" placeholder="Enter your password again" />
        </div>
    <button type="submit" id="forgotsubmit" class="sbmtbtn">Reset Password</button>
    </form>
</div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
<script src="/scripting/forgotpassword.js"> </script>
</html>