<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="forgot-password" onsubmit="updatepassword(event)">
        <label for="forgotpassword">Enter password: </label>
        <input id="forgotpassword" type="text" name="forgotpassword" placeholder="Enter your mail here" required/>
        <label for="confirmpassword">Confirm Password: </label>
        <input id="confirmpassword" type="text" name="confirmpassword" placeholder="Enter your password again" required/>
        <button type="submit" id="forgotsubmit">Reset Password</button>
    </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
<script src="/scripting/forgotpassword.js"> </script>
</html>