body{
  background-color:azure;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login{
    background-color:teal;
    float: left;
}

#signup{
  float: right;
  background-color:grey;
}

form {
    border-radius: 5px;
    padding: 20px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 2px 10px 5px;

}

button {
  padding: 5px 8px;
  border: none;
  background-color: #0056b3;
  border-radius: 20px  ;
  color: white;
  cursor: pointer;
}



button:hover {
  background-color: cornflowerblue;
}

.form-container{
  display: flex;
}

.outer-container{
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.783);
}

